/* Estilizaçao do corpo da pagina */
html,
body {
    max-width: 100%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(to bottom, #020418, #000000);
}

/* Estilizaçao para navegadores que suportam a propriedade padrão */
* {   
    scrollbar-width: none;
    scrollbar-color: #2dbda5 #3451a0;
}

/* Estilizaçao do container principal */
.wrapper {
    max-width: 100%;
    height: 615px;
    border: 1px solid #3451a0;
    border-radius: 10px;
}

/* Estilizaçao do titulo da pagina */
.wrapper .titulo {
    max-width: 100%;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    font-style: italic;
    padding: 10px;
    color: #3451a0;
    border-bottom: 1px solid #3451a0;
}

/* Estilizaçao do formulario de entrada */
.wrapper .formulario {
    display: grid;
    width: 100%;
    height: 500px;
    max-height: 100%;
    text-align: center;
}

/* Estilizaçao do layout dos campos de entrada */
.formulario .campo-input {
    display: flex;
    max-width: 100%;
}

.campo-input .campo {
    width: 100%;
    display: flex;
    padding: 10px;
    justify-content: center;
}

/* Estilizaçao das frases atreladas aos campos de entrada */
.campo label {
    padding: 12px;
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
    color: #3451a0;
}

/* Estilizaçao dos campos de opçoes de idioma */
.campo .idioma-padrao,
.campo .idioma-traduzido {
    width: 250px;
    height: auto;
    padding: 12px;
    font-size: 15px;
    border-radius: 10px;
    outline: none;
    font-style: italic;
    cursor: pointer;
    color: #2dbda5;
    border: 2px solid #3451a0;
    background: linear-gradient(to left, #222436, #040e1b);
}

/* hovers do campos de opçoes de idioma */
.campo .idioma-padrao:hover,
.campo .idioma-traduzido:hover {
    border-color: #2dbda5;
    background: linear-gradient(to right, #222436, #040e1b);
}

/* Estilizaçao da tag option */
.idioma-padrao option,
.idioma-traduzido option {
    color: #1a75ff;
    font-style: normal;
}

/* Estilizaçao do layout campos de traduçao e texto a traduzir */
.formulario .campo-texto {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    overflow-x: hidden;
}

.campo-texto .texto {
    width: 100%;
    display: flex;
    padding: 5px;
    justify-content: center;
}

/* Estilizaçao dos campos textarea */
.texto textarea {
    width: 80%;
    max-width: 100%;
    padding: 20px;
    height: 350px;
    font-size: 18px;
    font-style: italic;
    border-radius: 15px;
    word-wrap: break-word;
    resize: none;
    outline: none;
    color: #2dbda5;
    background: linear-gradient(to top, #313346, #02132b);
    border: 2px solid #3451a0;
}

/* Placeholder e focus dos campos textarea */
.texto textarea:focus {
    border-color: #2dbda5;
}

.texto textarea::placeholder {
    color: #3451a0;
}

.texto textarea:focus::placeholder {
    color: #2dbda5;
}

/* Estilizaçao do layout do botao traduzir */
.formulario .botao {
    width: 100%;
    height: 40px;
    margin-top: 20px;
}

/* Estilizaçao do botao traduzir */
.botao .btn {
    height: 100%;
    width: 150px;
    font-size: 15px;
    font-style: italic;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    color: #3451a0;
    background: linear-gradient(to left, #222436, #040e1b);
    border: 2px solid #3451a0;
}

.botao .btn:hover {
    color: #2dbda5;
    border-color: #2dbda5;
    background: linear-gradient(to right, #222436, #040e1b);
}