html,
body {
    max-width: 100%;
    height: 100%;
    padding: 5px;
    overflow: hidden;
    background: linear-gradient(to bottom, #282a40, #000a18);
}

.wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    border: 1px solid rgb(4, 84, 122);
}

.wrapper .formulario {
    display: grid;
    width: 100%;
    height: 500px;
    max-height: 100%;
    padding: 20px;
    text-align: center;
    border: 1px solid rgb(4, 84, 122);
}

.campo label {
    padding: 12px;
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
}

.formulario .campo-input {
    display: flex;
    max-width: 100%;
    padding: 20px;
    border-bottom: 10px;
    border: 1px solid rgb(4, 84, 122);
}

.campo-input .campo {
    display: flex;
    justify-content: center;
    width: 100%;
    border: 1px solid rgb(4, 84, 122);
}

.campo input[type="text"] {
    width: 250px;
    padding: 12px;
    font-size: 15px;
    border-radius: 10px;
    outline: none;
    font-style: italic;
    border: 1px solid #3451a0;
    background: linear-gradient(to left, #222436, #040e1b);
}

.campo input::placeholder {
    color: #3451a0;
}

.campo input:focus {
    border-color: #2dbda5;
    background: linear-gradient(to right, #222436, #040e1b);
}

.campo input:focus::placeholder {
    color: #2dbda5;
}

.formulario .campo-texto {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    padding: 10px;
    overflow-x: hidden;
}

.campo-texto .texto {
    display: flex;
    justify-content: center;
    width: 100%;
    border: 1px solid rgb(4, 84, 122);
}

.texto textarea {
    width: 80%;
    max-width: 100%;
    padding: 20px;
    height: 350px;
    font-size: 18px;
    font-style: italic;
    border-radius: 15px;
    word-wrap: break-word;
    resize: none;
    outline: none;
    background: linear-gradient(to top, #313346, #02132b);
    border: 1px solid #3451a0;
}

.texto textarea:focus {
    border-color: #2dbda5;
}

.texto textarea::placeholder {
    color: #3451a0;
}

.texto textarea:focus::placeholder {
    color: #2dbda5;
}

.formulario .btn {
    max-width: 100%;
    border: 1px solid rgb(4, 84, 122);
}