<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Tradutor</title>
</head>
<body>
    <div class="wrapper">
        <div class="formulario">
            <form method="POST">
                <div class="campo">
                    <label for="idioma_padrao">Idioma Padrão:</label>
                    <input type="text" name="idioma_padrao" required>
    
                    <label for="idioma_traduzido">Idioma Traduzido:</label>
                    <input type="text" name="idioma_traduzido" required>
                </div>                       
                <input type="text" class="texto_traduzir" name="texto_a_traduzir" required>               
                <div class="btn">
                    <button type="submit">Traduzir</button>
                </div>
            </form>
        </div>
        <div class="texto">{{ texto }}</div>
    </div>
</body>
</html>
