<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Tradutor</title>
</head>
<body>
    <div class="wrapper">
        <div class="titulo">Tradutor</div>
        <div class="formulario">
            <form method="POST">
                <div class="campo-input">
                    <div class="campo">
                        <label for="text">Idioma Padrão:</label>
                        <select class="idioma-padrao" name="idioma_padrao">
                            <option value="spanish">Espanhol</option>
                            <option value="english" selected>Inglês</option>
                            <option value="portuguese">Português</option>                           
                        </select>
                    </div>
                    <div class="campo">
                        <label for="text">Idioma Traduzido:</label>
                        <select class="idioma-traduzido" name="idioma_traduzido">
                            <option value="spanish">Espanhol</option>
                            <option value="english">Inglês</option>
                            <option value="portuguese" selected>Português</option>
                        </select>
                    </div>
                </div>   
                <div class="campo-texto">
                    <div class="texto">
                        <textarea name="texto_a_traduzir" placeholder="Digitar Texto" required></textarea>  
                    </div>
                    <div class="texto">
                        <textarea readonly style="user-select: contain;" placeholder="Traduçao">{{ texto }}</textarea> 
                    </div>
                </div>                              
                <div class="botao">
                    <button class="btn" type="submit">Traduzir</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
